
.headerHomeUsers {
    background-color: #005082;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
  }

  .headerHomeUsers nav{
    padding: 0px 100px;
    
  }
  
  .headerHomeUsers h1 {
    margin: 0;
  }
  
  .headerHomeUsers ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .headerHomeUsers ul li {
    margin-left: 20px;
  }
  
  .headerHomeUsers ul li:first-child {
    margin-left: 0;
  }
  
  .headerHomeUsers ul li a {
    color: #fff;
    text-decoration: none;
  }