body{
  width: 100%;  
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #757373;
}

h1, h2, h3 {
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #0077cc;
}
.opcionLogin{
  display: block;
  margin-bottom: 80px;
  font-size: 1.3rem;
  font-weight: bolder;
  color: aliceblue;
  text-align: center;
}
.opcionLogin:hover{
  color: blue;
  text-decoration:underline;
}